.wrapper {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  flex: 0 0 calc(100% / 3);
  padding: 4px 4px;
}

.item__title {
  font-size: 1.5rem;

  &:hover {
    color: rgba($color: red, $alpha: 0.8);
    cursor: pointer;
  }
}

.filter {
  color: rgba($color: red, $alpha: 0.8);
}
